/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@600;700&family=Work+Sans:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-primary: #61b5cc;
  --color-brand-orange: #e46a2c;
  --color-brand-white: #ffffff;
  --color-brand-dark: #0d0d0d;
  --color-brand-purple: #4e0acf;

  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
}

/* 1. Aplicamos el fondo al HTML para que el "overscroll" sea del mismo color */
@variant dark (&:where(.dark, .dark *));

/* Aplicación global */
html {
  background-color: white;
}

html.dark {
  background-color: var(--color-brand-dark/80);
}

body {
  @apply font-work-sans text-brand-dark bg-transparent;
}
