services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./:/app
      - ../data:/data
    environment:
      - PORT=8080
      - PYTHONUNBUFFERED=1
    command: uvicorn app_async:api --host 0.0.0.0 --port 8080 --reload
