aiohappyeyeballs==2.6.1
aiohttp-retry==2.9.1
aiohttp==3.13.2
flask==3.1.2
gunicorn==23.0.0
fastapi==0.115.6
uvicorn[standard]==0.32.1
langchain-community==0.4.1
langchain-core==1.0.4
langchain-google-alloydb-pg==0.13.0
langchain-google-genai==2.1.12
langchain==1.0.5
langchain-classic==1.0.0
langchain-text-splitters==1.0.0
slack_bolt==1.26.0
langgraph==1.0.3
sqlalchemy==2.0.44
python-dotenv==1.0.0
google-cloud-aiplatform==1.127.0
langchain-google-vertexai==3.0.3
asyncpg==0.30.0
cachetools==5.5.0